body {
    font-family: Helvetica, sans-serif;
    color: crimson;
  }
  
  table,
  th,
  td {
    border: 1px orangered;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: burlywood;
  }
  
  tr:nth-child(odd) {
    background-color:bisque;
  }
 